.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    height: 50px;
    color: white;
    border: none;
    border-radius: 20%;
    padding: 10px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}